/* Contenedor del Header */
.contenedor-Header {
  width: 90%;
  height: auto;
  display: flex;
  background-color: rgb(1, 208, 177);
  color: white;
  font-weight: 500;
}
/* =========================================================== */
/* Titulo del header */
.titulo-section {
  margin: auto 5rem;
  font-size: 2em;
}
/* =========================================================== */
