/* Contenedor del Header */
.contenedor-Header {
  width: 90%;
  height: 160px;
  display: flex;
  background-color: rgb(1, 208, 177);
  color: white;
}
/* =========================================================== */
/* Titulo del header */
.titulo-section{
  margin:auto 5rem;
    font-size: 2em;
}
/* =========================================================== */
