/* Contenedor de los filtro */
.contenedor-filtros {
  width: 90%;
  height: auto;
  background-color: #1f9bed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
/* =========================================================== */
/* Filtros */
.filtro {
  margin: 20px 20px;
}
/* =========================================================== */