/* Contenedor de los filtro */
.contenedor-filtros {
  width: 90%;
  padding: 0px 40px;
  height: auto;
  background-color: #1f9bed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* =========================================================== */
/* Filtros */
.filtros {
  margin: 20px;
}
/* =========================================================== */

/* Filtros*/
.filtrosPorPais,
.filtrosPorPrecio,
.filtrosPorTamanio,
.filtrosFechaDesde,
.filtrosFechaHasta {
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  color: rgb(31, 30, 30);
  cursor: pointer;
}

.seleccionado:hover{
  background-color: #d6edfc;
  border: solid 1px black;
}

.filtroDesde,
.filtroHasta {
  display: flex;
  align-items: center;
}

.filtrosFechaDesde,
.filtrosFechaHasta {
  width: 195px;
}
/* =========================================================== */
/* Botón limpiar */
.botonLimpiar {
  padding: 6px 10px;
  font-size: 16px;
  border-radius: 5px;
  color: white;
  background-color: #0980cf;
  border:solid 2px rgb(125, 132, 165);
  cursor: pointer;
}
.botonLimpiar:hover {
  background-color: #1b93e4;
}
/* =========================================================== */
